<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628208013522-gnashrkon6nn3hrtrbkn6hq7lkue0qoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628208013522-gnashrkon6nn3hrtrbkn6hq7lkue0qoq</string>
	<key>API_KEY</key>
	<string>AIzaSyCm6Z9PorNcqkiPdfLclxqnthMwm8M9yKA</string>
	<key>GCM_SENDER_ID</key>
	<string>628208013522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.Lucas-Techer</string>
	<key>PROJECT_ID</key>
	<string>hyper-casual-game-1b794</string>
	<key>STORAGE_BUCKET</key>
	<string>hyper-casual-game-1b794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628208013522:ios:fe08ca7ab9499088b29d0b</string>
</dict>
</plist>